/*custom*/
.container-main {
    height: 100%;
    text-align: -webkit-center;
    margin-top: 18%;
    /*background: #f4f4f6;*/
}
.modal-background {
    background: #ffffff;
}
.bg-color {
    background: #f4f4f6;
}
.custom-nav {
    background: #ffffff;
    color: #7f9096;
}
.logout {
    position: absolute;
    right: 4%;
    font-weight: 600;
    cursor: pointer;
}
.login-card {
    width: 50%;
}

.card-heading {
    font-weight: 600;
    color: #7f9096;
}

.task-completed {
    font-weight: 600;
    font-size: 60px;
    margin-top: -10px;
    color: #5285ec;

}
.task-total {
    font-weight: 400;
    font-size: 16px;
    margin-left: -13px;
    color: #7f9096;
}

.card-5 {
    box-shadow: 0 10px 28px #dae4de, 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-6 {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    /*box-shadow: 0 50px 60px rgba(255, 255, 255, 0.22), 0 50px 78px rgba(255, 255, 255, 0.10);*/
}
.card-7 {
    -webkit-box-shadow: 1px 12px 15px #dae4de;
    -moz-box-shadow: 1px 12px 15px #dae4de;
    box-shadow: 1px 12px 15px #dae4de;
}
.card-8 {
    box-shadow: 10px 9px 15px #dae4de;
}

.radius10 {
    border-radius: 10px;
}

.object-fit {
    object-fit: cover;
}
.error-msg {
    color: red;
    font-size: 13px;
}
.task-row {
    padding: 15px 15px 15px 0px;
    margin-left: 25px !important;
    margin-right: 25px !important;
    border-bottom-width: 1px;
    border-bottom-color: #e0e0e0;
    border-bottom-style: solid;
}
.latest-task {
    font-size: 14px;
    color: #9ba8ac;
}
.pointer {
    cursor: pointer;
}
.decoration {
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through;
}
.task-title {
    align-self: flex-end;
    font-size: 21px;
}
.search-icon-container {
    background: #d9dfeb;
    border-right-width: 0px;
}
.search-input {
    background: #d9dfeb;
    border-left-width: 0px;
    color: #647278;
    padding-left: 0px;
}

